body{
  background-color: #187498;
  text-align: center;
}

table{
  margin: 0 auto;
}

button{
  width: 13vw;
  height: 13vw;
  border-width:0.5vw;
  border-radius: 10%;
  margin: 1vw;
}

.js_body-game-over{
  background-color: red;
  opacity: 0.8;
}

/* Title section */

._title-section{
  font-family: 'Press Start 2P';
  color: #FEF2BF;
  margin: 1vw 0 2vw 0;
}

._title-upper{
  font-size:  4.5vw;
}

.js_title-level .js_title-result{
  font-size: 2.5vw;
  margin: 2vw 0 0 0;
}


/* Button section */

._button-section{
  margin: 0 auto;
}

.js_button-animation-pressed{
  box-shadow: 0 0 15px white;
  background-color: grey;
}

#js_button-green{
  background-color: #A1DE93;
}

#js_button-red{
  background-color: #F47C7C;
}

#js_button-yellow{
  background-color: #F7F48B;
}

#js_button-blue{
  background-color: #70A1D7;
}
